#green-led {
    animation: toggleGreenLed 4s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes toggleGreenLed {
    0% {
        filter: brightness(1.2);
        opacity: 1;
    }
    100% {
        filter: brightness(0.6);
        opacity: 0.8;
    }
}

#red-led {
    animation: toggleRedLed 4s cubic-bezier(1, 0, 0, 0) infinite;
}

@keyframes toggleRedLed {
    0% {
        filter: brightness(0.6);
        opacity: 0.8;
    }
    100% {
        filter: brightness(1.5);
        opacity: 1;
    }
}
